body {
    color: rgb(203, 38, 38);
    background-color: rgb(36, 15, 104);
}
section {
    background-color: rgb(156, 66, 156);
    padding-bottom: 80px;
    display:flex;
    justify-content: center;
}